/* 
// *** *** *** Custom Properties *** *** *** 
*/
:root {
    --width-mobile-layout: 375px;
    --width-desktop-layout: 1440px;
    --font-family: "Overpass", sans-serif;
    --font-size: 16px;
    --font-size-paragraph: 15px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --color-orange: hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    --color-star-icon-bg: #3a4044;
}

/* 
// *** *** *** Reset *** *** *** 
*/
html {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *:before, *:after { box-sizing: inherit; }

h1, h2, h3, h4, h5, h6, p { margin: 0; }

a { text-decoration: none; }

picture { display: block; }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

hr {
    border-left-width: 0;
    border-right-width: 0;
}

/* 
// *** *** *** Site Styles *** *** *** 
*/
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-very-dark-blue);
}

.main { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.footer { 
    padding: 1rem; 
    color: var(--color-white);
}

p { 
    font-size: var(--font-size-paragraph); 
    line-height: 1.5rem;
}
